<%= title t('account.sign_in.title') %>
<div class="row clearfix top-buffer">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title"><%= t('account.sign_in.title') %></h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, url: session_path(resource_name),
                            as: resource_name,
                            html: { class: 'form-vertical' },
                            wrapper: :vertical_form) do |f| %>
          <%= f.input :email %>
          <%= f.input :password %>
          <% if devise_mapping.rememberable? %>
            <%= f.input_field :remember_me, as: :boolean, inline_label: t('account.sign_in.remember_me') %>
          <% end %>
          <%= render 'users/shared/links' %>
          <%= button_tag(type: 'submit', class: "btn btn-success top-buffer") do %>
            <%= fa_icon 'sign-in', text: t('helpers.submit.user.create') %>
          <% end %>
        <% end %>
        <%= render "users/shared/links_connect_with" %>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
