<%= title t('account.email.title') %>
<div class="row top-buffer clearfix">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('account.email.title') %></h3>
      </div>
      <div class="panel-body">
        <div id="error_explanation">
          <%= t('account.email.error') %>
        </div>
        <%= simple_form_for(current_user, url: add_user_email_path,
                            as: 'user',
                            html: { class: 'form-vertical' },
                            wrapper: :vertical_form) do |f| %>
        <%= f.input :email %>
        <%= f.submit t('account.email.button'), class: 'btn btn-primary' %>
        <% end %>
      </div>
  <div class="col-md-3"></div>
</div>
