<%= title t('account.change_password.title') %>
<div class="row clearfix top-buffer">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title"><%= t('account.change_password.title') %></h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, url: password_path(resource_name),
                            as: resource_name,
                            html: { method: :put, class: 'form-vertical' },
                            wrapper: :vertical_form) do |f| %>
          <%= f.input :email %>
          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            <%= fa_icon 'lock', text: t('account.change_password.buton') %>
          <% end %>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
