<%= title t('account.change_password.title') %>
<div class="container" role="main">
  <div class="row clearfix top-buffer">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><%= t('account.change_password.title') %></h3>
        </div>
        <div class="panel-body">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>
            <div class="form-group">
              <%= f.label :password, t('general.new_password') %>
              <%= f.password_field :password, :autofocus => true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, t('general.new_password_confirmation')  %>
              <%= f.password_field :password_confirmation, :autofocus => true, class: 'form-control' %>
            </div>
            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
              <%= fa_icon 'lock', text: t('account.change_password.buton') %>
            <% end %>
          <% end %>
          <%= render "users/shared/links" %>
        </div>
      </div>  
    </div>
    <div class="col-md-4"></div>
  </div>
</div>