<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : settings('site_title') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : settings(:site_description) %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= include_specifics_javascripts %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag settings(:favicon_url) %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation', available_languages: @available_languages %>
    </header>
    <main role="main">
      <section class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
        <hr>
        <footer>
          <%= render 'layouts/footer' %>
        </footer>
      </section>
    </main>
  </body>
</html>
