<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : setting('site_title') %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : setting('site_description') %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'https://s.gravatar.com/avatar/6b030f9d40af0aacef77ba4ba2076985?s=40' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation', languages_available: @languages_available %>
    </header>
    <main role="main">
      <div class="top-buffer">
        <div class="container" role="main">
          <%= render 'layouts/messages' %>
          <%= yield %>
          <hr>
          <footer>
            <%= render 'layouts/footer' %>
          </footer>
        </div>
      </div>
    </main>


  </body>
</html>
