<%= title t('account.edit.title') %>
<div class="container" role="main">
  <div class="row clearfix top-buffer">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><%= t('account.edit.title') %></h3>
        </div>
        <div class="panel-body">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :email, t('account.field.email') %>
              <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
            </div>
            
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            
            <div class="form-group">
              <%= f.label :password, t('account.field.new_password') %> <i><%= t('account.edit.tooltip_password') %></i>
              <%= f.password_field :password, :autocomplete => "off", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, t('account.field.new_password_confirmation') %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :current_password, t('account.field.current_password') %> <i><%= t('account.edit.tooltip_current_password') %></i>
              <%= f.password_field :current_password, class: 'form-control' %>
            </div>
            <%= button_tag(type: 'submit', class: "btn btn-success") do %>
              <%= fa_icon 'check-square-o', text: t('account.edit.button') %>
            <% end %>
          <% end %>
          <div class='top-buffer'>
            <%= link_to t('general.back'), :back %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row clearfix top-buffer">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><%= t('account.cancel.title') %></h3>
        </div>
        <div class="panel-body">
          <p><%= t('account.cancel.question') %></p>
          <%= button_to(registration_path(resource_name), :data => { :confirm => t('general.confirm') }, :method => :delete, class: "btn btn-danger") do %>
              <%= fa_icon 'warning', text: t('account.cancel.button') %>
          <% end %>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
