<%= title t('account.edit.title') %>
<div class="row clearfix top-buffer">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title"><%= t('account.edit.title') %></h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, url: registration_path(resource_name), 
                            as: resource_name,
                            html: { method: :put, class: 'form-vertical' },
                            wrapper: :vertical_form) do |f| %>
          <%= f.input :email %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="top-buffer bottom-buffer">
              <%= t('account.edit.email_confirmation') %> <%= resource.unconfirmed_email %>
            </div>
          <% end %>
          <%= f.input :password, hint: t('account.edit.tooltip_password') %>
          <%= f.input :password_confirmation %>
          <%= f.input :current_password, hint: t('account.edit.tooltip_current_password') %>
          <%= f.error :password %>
          <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
            <%= fa_icon 'check-square-o', text: t('account.edit.button') %>
          <% end %>
        <% end %>
        <div class='top-buffer'>
          <%= link_to t('general.back'), :back %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row clearfix top-buffer">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title"><%= t('account.cancel.title') %></h3>
      </div>
      <div class="panel-body">
        <p><%= t('account.cancel.question') %></p>
        <%= button_to(registration_path(resource_name), data: { confirm: t('general.confirm') }, method: :delete, class: 'btn btn-danger') do %>
            <%= fa_icon 'warning', text: t('account.cancel.button') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
