<div class="container" role="main">
  <div class="row clearfix top-buffer">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Register an account</h3>
        </div>
        <div class="panel-body">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="row clearfix top-buffer">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, 
                                   :value => (session['new_user_params'][:name] unless session['new_user_params'].nil?),
                                   :autofocus => true,
                                   class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email,
                                    :value => (session['new_user_params'][:email] unless session['new_user_params'].nil?),
                                    class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password,
                                       :autofocus => !(session['new_user_params'].nil?),
                                       class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation,
                                       class: 'form-control' %>
                </div>
                <%= render "users/shared/links" %>
              </div>
              <div class="col-md-6">
              
              </div>
            </div>
            <%= f.hidden_field :provider,
                               :value => (session['new_user_params'][:provider] unless session['new_user_params'].nil?)
            %>
            <%= f.hidden_field :uid,
                               :value => (session['new_user_params'][:uid] unless session['new_user_params'].nil?) 
            %>
            
            <div class="row clearfix top-buffer">
              <div class="col-md-12">
                <%= button_tag(type: 'submit', class: "btn btn-success") do %>
                  <%= fa_icon 'check-square-o', text: 'Register'%>
                <% end %>
        <% end %>
                <%= render "users/shared/links_connect_with" %>
              </div>
            </div>
          
          
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>


