<%= title t('account.register.title') %>
<div class="row top-buffer clearfix">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('account.register.title') %></h3>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, url: registration_path(resource_name), 
                            as: resource_name,
                            html: { class: 'form-vertical' },
                            wrapper: :vertical_form) do |f| %>
          <%= f.input :email %>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= render 'users/shared/links' %>
          <%= button_tag(type: 'submit', class: 'btn btn-success top-buffer', id: 'register') do %>
            <%= fa_icon 'check-square-o', text: t('account.register.button') %>
          <% end %>       
        <% end %>
        <%= render 'users/shared/links_connect_with' %>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
